
.f-6{
  font-size: 11px;
  margin-bottom:1px;
}

.product-tab{
  background-color: #F5F5F5 !important;
  color: #000000 !important;
}
.nav-pills .nav-link{
  width: 315px;
}

@media screen and (max-width:300px){
  .nav-pills .nav-link{
    width:auto;
  }
}

.category.active{
  background-color: #313C87 !important;
  color: #ffffff !important;
}
.subcat.active{
  background-color: #B5A60B !important;
  color: #ffffff !important;
}
.products-width{
    padding: 1em;
    width:80%;
    
    background-color: white;
    transition: all 0.5s ease;
    border: #E3E3E3 solid 1px;
  }

.cut-to-size-width{
  padding: 1em;
  width:80%;
  
  background-color: white;
  transition: all 0.5s ease;
  
} 

@media screen and (max-width:767px){
  .cut-to-size-width{ 
    width:100%;    
  } 
}
/*.products-width:hover{
    max-width:none;
    z-index:9;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}  */ 
/*.products-width>#product-options, .cut-to-size-width>#product-options{
    display:none;
}  */
#product-options{
  display:flex;
  justify-content: end;
}
.products-width:hover>#product-options{
    display:flex;
    justify-content: flex-end;
    
}  
 
.product-height{
  height: 700px;
}

@media screen and (max-width: 767px){
  .product-height{
    height: 150px;
  }
}
.options-btn{
  border:none;
  background-color: #f1f1f1;
  color:#000000;
}

.options-btn:hover{
  background-color: #313C87;
  color: #ffffff;
}

/*CONTEMPORARY*/
.contemporary-1{
  position:relative;
  background-image: url('../Images/products-img/contemporary/700 Series Wide Framed Wood Mirror _ Black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
  
}

.contemporary-2{
  position:relative;
  background-image: url('../Images/products-img/contemporary/700 Series Wide Framed Wood Mirror _ White2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
  
}

.contemporary-3{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO\ 700\ Series\ Opaque\ White\ Laminate\ 2\ Panel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-4{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO GRIGIO_MIRROR_2 PANEL_3 LITE_INUSE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-5{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO_MIRROR_2\ PANEL_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-6{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO_POLAR\ WHITE_2\ PANEL_3\ LITE_INUSE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-7{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO_WHITE\ LAMI_2\ PANEL_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-8{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_MIRROR_\ IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-9{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_POLAR\ WHITE_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-10{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_POLAR\ WHITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-11{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_WHITE\ LAMI_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-12{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_WHITE\ LAMI_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-13{
  position:relative;
  background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO_POLAR\ WHITE_2\ PANEL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.contemporary-14{
  position:relative;
  background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_MIRROR_3\ LITE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

/*TRADITIONAL*/
.trad-100{
  position:relative;
  background-image: url('../Images/products-img/traditional/100 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-150{
  position:relative;
  background-image: url('../Images/products-img/traditional/150 SERIES.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-250{
  position:relative;
  background-image: url('../Images/products-img/traditional/250\ SERIES_FINAL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-250C{
  position:relative;
  background-image: url('../Images/products-img/traditional/250C SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-500{
  position:relative;
  background-image: url('../Images/products-img/traditional/500\ Series_FINAL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-505{
  position:relative;
  background-image: url('../Images/products-img/traditional/505 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-550{
  position:relative;
  background-image: url('../Images/products-img/traditional/550 SERIES.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-555{
  position:relative;
  background-image: url('../Images/products-img/traditional/555 series.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

.trad-650{
  position:relative;
  background-image: url('../Images/products-img/traditional/650 Series.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  
}

/*FRAMED WALLS*/
.arqadia-bright-silver{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA BRIGHT SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
    
  }
  
.academie-silver{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ACADEMIE\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
  
.ferrosa-pewter-2{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/FERROSA\ PEWTER\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
  
.arqadia-bright-silver-1{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
  
  .arqadia-bright-silver-2{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
  
  .framerica-stainless-flat{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/FRAMERICA\ STAINLESS\ WHITE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
  
  .gramercy-silver{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/GRAMERCY\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }

  .arqadia-bright-silver-2-3{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 2-3_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }

  .arqadia-warm-silver{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA\ WARM\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }

  .arqadia-black-2{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/ARQADIA\ BLACK\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }

  .white-white{
    position:relative;
    background-image: url('../Images/products-img/framed-wall-mirrors/9White\ White550286.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
  }
/*CUT-TO-SIZE*/
.cut-to-size{
  position:relative;
  background-image: url('../Images/products-img/cut-to-size/cut-to-size.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 700px;
}  
@media screen and (max-width: 767px){
  .cut-to-size{    
    height: 300px;
  }
}