@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans:wght@400;500;700&family=Overpass:wght@400;500;600;700&family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('.Fonts/Poppins-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat';
    src: url('path/to/Montserrat-Regular.ttf') format('truetype');
  }

 @font-face {
    font-family: 'Noto Sans';
    src: url('path/to/NotoSans-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Mr Eaves XL';
    src: url('../Fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf');
  }

  @font-face {
    font-family: 'Century Gothic';
    src: url('../Fonts/century-gothic/Century\ Gothic.ttf');
  }
html,body
  {
      width: 100%;
      height: 100%;
      overflow-x:hidden;
      padding: 0px;
      font-size: 16px;
      font-family: 'Mr Eaves XL';
      
  }
@media screen and (min-width: 576px){
  .video-size{
    max-width: 720px;
    height: 405px;
  }
 
}
  
/*COLORS*/
.color1{
  color:#313C87;
}
.bg-color1{
  background-color: #313C87;
}

.color2{
  color: #E9E9E9;
}
.bg-color2{
  background-color: #E9E9E9;
}

.color3{
  color: #B5A60B;
}

.bg-color3{
  background-color: #B5A60B !important;
}

.color4{
  color: #FCFCFC;
}

.bg-color4{
  background-color: #FCFCFC;
}

.color5{
  color: #ECEAEA;
}

.bg-color5{
  background-color: #ECEAEA;
}

.color6{
  color: #979797;
}
/*COLORS END*/

/*FONTS*/
.century{
  font-family: 'Century Gothic';
}
.montserrat{
  font-family: 'Montserrat';
}
.montserrat-700{
  font-family: 'Montserrat';
  font-weight: 700;
}

.noto-sans{
  font-family: 'Noto Sans';
}

.noto-sans-700{
  font-family: 'Noto Sans';
  font-weight: 700;
}

.ubuntu{
  font-family: 'Ubuntu' !important;
}

.ubuntu-700{
  font-family: 'Ubuntu';
  font-weight:700;
}

.poppins{
  font-family: 'Poppins';
  font-weight: 400;
}

.poppins-700{
  font-family: 'Poppins';
  font-weight:700;
}

.eaves{
  font-family: 'Mr Eaves XL';
}

.eaves-700{
  font-family: 'Mr Eaves XL';
  font-weight: 700;
}

.overpass{
  font-family: 'Overpass';
}
.overpass-700{
  font-family: 'Overpass';
  font-weight:700;
}
.fw-500{
  font-weight: 500;
}

.underline{
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color:#B5A60B;
  text-decoration-thickness: 1px;
}
/*FONTS END*/

.letter-space-3{
  letter-spacing:3px;
}

.max-container{
  max-width:1600px;
}

@media screen and (max-width:1536px) {
  .max-container{
    max-width:1320px;
  }
}
.nav-link{
  font-family: 'Montserrat';
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
h6{
  font-family:'Montserrat', sans-serif;
  font-weight:500;
  color: #B5A60B;
}

a{
  text-decoration: none;
}
/*Navigation Bar*/
.navbar{
  height: 120px;
  padding: 0em 1em 0em 1em;
}

@media (min-width: 1850px)  {

.navbar{
    padding: 0em 10em 0em 10em;
  }
}

ul.navbar-nav{
  gap: 5rem;
  background-color: #ffffff;
  padding: 1em;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background-color: #313C87;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0px;
  transition-duration: .5s;
}

.navbar-nav li.active a::after {
  content: "";
  position: absolute;
  background-color:  #313C87;
  height: 3px;
  width: 100% !important;
  left: 0;
  bottom: -5px;
  transition-duration: .5s;
}

.navbar-light .navbar-toggler {
  color: #313C87;
  border-color: #313C87;
}

.nav-color{
  color:white !important;
}

ul.navbar-nav{
  background-color: transparent;
}

.nav-shadow{
  text-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
@media (max-width: 991px){
  .nav-link:hover::after {
    width: 50% !important;
  }
  ul.navbar-nav {
    gap: 2rem;
    background-color: #ffffff;
    padding: 1em;
    width: 250px;
    float: right;
}
  a.navbar-brand img{ 
  width: 100% !important;
}
  .navbar{
  height: 150px;
}

.nav-color{
  color: rgba(0,0,0,.7) !important;
}

a.nav-shadow{
  text-shadow:none;
}
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar.fixed-top {
  background-color: transparent;
}

.navbar.fixed-top {
  background-color: #ffffff;
  transition: background-color 200ms linear;
}

.navbar.fixed-top .navbar-nav .nav-link {
  color: #333 !important;
}

.navheight{
  height: 100px;
}

.logo-bg{
  background-color: transparent;
  margin-top: -20px;
  padding: 5%;
}

.nav-fs{
font-size:14px !important;
}

.fs-50{
  font-size:50px;
}
@media screen and (max-width:400px){
  .fs-50{
    font-size:32px;
  }
}

.number{
  color:black;
}
.number:hover{
  color:#313C87;
}
/*Navigation Bar END*/


/*FIRST SECTION*/
#section-1{
  margin-top:-101px;
}
.headline{
  padding: 1em 0em;
  letter-spacing: 5px;
  text-align: start;
  margin-top: 1%;
}

.custom-row{
    position: relative;
    height: 100vh;
    margin-left: -2rem;
  }

.custom-button{
  background-color: #313C87;
  border: none;
  border-radius: 0px;
  font-family: 'Poppins';
  font-size: 18px;
   
}

.resources-btn{
  background-color: white;
    border: solid 1px #B5A60B;
    border-radius: 0px;
    font-family: 'Mr Eaves XL';
    font-size: 16px;
    color: #000000;
    letter-spacing: 2px;
}

.resources-btn:hover{
  background-color: #B5A60B;
    border: solid 1px white;
    border-radius: 0px;
    font-family: 'Mr Eaves XL';
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 2px;
}

.btn-primary:hover{
  background-color: #B5A60B;
  border: solid 1px #B5A60B;

}
.btn-primary-2{
  background-color: transparent;
  border: solid 1px #B5A60B !important;
  color:#b5a60b;
}
.parent-btn:hover > .btn-primary-2{
  background-color: #B5A60B;
  border: solid 1px #B5A60B;
 color:white;
}
.parent-btn:hover > .arrow-btn{
  background-color: transparent !important;
  color: #B5A60B !important;
  border: solid 1px #B5A60B !important;
}
.btn-radius{
  border-radius: 10px 0px 0px 10px;
}
.btn-radius-2{
  border-radius: 0px 10px 10px 0px;
}
.landing-headline{
  
  font-weight:600;
}
  @media (max-width: 576px) { /* Extra small devices (phones) */
    .custom-row {
      height: 50vh;
    }
  }
  
  @media ( min-width : 576px ) and (max-width : 1779px ){ /* Small devices (tablets) */
    .custom-row {
      height: 75vh;
    }
  }

.height-1080{
  height:1080px !important;
}
@media screen and (max-width:767px){
  .height-1080{
    height:850px !important;
  }
}
.landing-bg {
    background-image: url('../Images/products-img/traditional/650\ Series.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }

  .landing-bg-2{
    background-image: url('../Images/products-img/contemporary/CHARIO\ GRIGIO_POLAR\ WHITE_2\ PANEL.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  
  .landing-bg-3{
    background-image: url('../Images/carousel/700\ Series\ Wide\ Framed\ Wood\ Mirror\ _\ Black.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-4{
    background-image: url('../Images/carousel/ARQADIA\ BRIGHT\ SILVER\ 1.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-5{
    background-image: url('../Images/carousel/GARDEN\ TEAK_2\ PANEL_MIRROR_\ IN\ USE.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-6{
    background-image: url('../Images/carousel/500\ Series_FINAL.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-7{
    background-image: url('../Images/carousel/FERROSA\ PEWTER\ 2.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-8{
    background-image: url('../Images/carousel/100\ SERIES.png');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }

  .landing-bg-9{
    background-image: url('../Images/carousel/250\ SERIES_FINAL.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }

  .landing-bg-10{
    background-image: url('../Images/products-img/framed-wall-mirrors/FRAMERICA\ STAINLESS\ WHITE.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
  .landing-bg-11{
    background-image: url('../Images/products-img/contemporary/GARDEN\ TEAK_2\ PANEL_POLAR\ WHITE_3\ LITE_IN\ USE.jpg');
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    padding:10%;
    z-index: 12;
    height: auto;
  }
.about-us-bg{
    background-image: url('../Images/about-us-img/about-us-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 12;
    height:auto;
  }

.icon-size{
  color:  #313C87;
  font-size: 48px;
}  



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.browse-bg{
    background-image: url('../Images/about-us-img/browse-collection-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 12;
    height:auto;
  }

 @media screen and (max-width:1300px){
  .browse-column{
    flex-direction:column;
    align-items:center;
  }
 } 

.products-bg{
    background-image: url('../Images/products-img/products-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 12;
    padding: 5%;
}

.accordion-item{
  border-color: #B5A60B;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.resources-bg{
  background-image:url('../Images/resources-img/resources-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

@media screen and (max-width:767px){
  .resources-bg{
    height: 30vh !important;
  }
  
}

.resources-height{
  height:175vh;
}

.resources-img{
  width: 40%;
}

@media screen and (min-width:768px){
  .resources-height{
    height:215vh;
    margin-top:25%;
  }
}

@media screen and (max-width:767px){
  .resources-height{
    height:auto;
    margin-top:10%;
  }

  .resources-img{
    width:100% !important;
  }
}


.accordion-ml{
  margin-left:3%;
}
/*FIRST SECTION END*/


/*CONTAINER PADDING*/
.container-padding{
  padding: 65px 0px;
}

.border-gold{
 
  border-bottom: 1px solid #B5A60B !important;
}

.border-top-2{
  border-top: 1px solid #CBCBCB !important;
  border-bottom: 1px solid #CBCBCB !important;
}
/*CATALOGUE IMAGES*/
.catalogue-bg{
  background-image:url('../Images/catalogue-images/catalogue-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
.catalogue-bg-2{
  background-image:url('../Images/catalogue-images/catalogue-bg-2.png');
  background-size: 70% 90%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
@media screen and (max-width:767px){
  .catalogue-headline-div{
    display:flex;
    align-items:center;
  }
}

@media (max-width: 767px) {
  .catalogue-bg{
    height: 17vh !important;
    margin-bottom:5%;
  }
  .contemporary{
    height: 20vh;
  }
}

@media (max-width: 991px) {
  .contemporary{
    height: 18vh;
  }
}

.contemporary{
  position:relative;
  background-image:url('../Images/catalogue-images/CHARIO\ GRIGIO_MIRROR_2\ PANEL_IN\ USE.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25vh;
}

.traditional{
  position:relative;
  background-image:url('../Images/catalogue-images/traditional.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25vh;
}

.framed{
  position:relative;
  background-image:url('../Images/catalogue-images/framed.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25vh;
}

.cut-to-size{
  position:relative;
  background-image:url('../Images/catalogue-images/cut-to-size.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25vh;
}

#catalogue:after {
        content: "" !important;
        display: table !important;
        clear: both !important;
    }

/*CATALOGUE IMAGES END*/

/*BROWSE COLLECTION*/
.browse-width{
  width:100%;
  max-width:500px;
  min-width:300px;
  background-color: white;
}

.browse-contemporary{
  position:relative;
  background-image:url('../Images/about-us-img/CHARIO\ GRIGIO_MIRROR_2\ PANEL_IN\ USE-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.browse-traditional{
  position:relative;
  background-image:url('../Images/about-us-img/traditional-sliding.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  
}

.browse-framed{
  position:relative;
  background-image:url('../Images/about-us-img/framed-wall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  
}

.browse-cutsize{
  position:relative;
  background-image:url('../Images/about-us-img/cut-to-size.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  
}

/*WHY CHOOSE US*/
.padding-r-5{
  padding-right:5%;
}
 .padding-b-3{
  padding-bottom:3%;
 }
.padding-br-5{
  padding-bottom:5%;
  padding-right: 5%;
}

@media screen and (max-width: 767px){
  .choose-us-column{
    flex-direction:column;
    align-items:start;
  }

}
/*WHY CHOOSE US END*/


/*CONTACT US*/
.contact-us-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-bg{
  background-image:url('../Images/contact-us-img/scene-office-desk-standing-office-3d-rendering.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:auto;
  padding: 3%;  
}

.contact-page-bg{
  background-image:url('../Images/contact-us-img/contact-page-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.contact-us-container{
  height:auto;
  background-color: transparent;
  padding: 50px;
}

.contact-page-padding{
  padding-left: 5% !important;
}
/*CONTACT US END*/

/*PRODUCTS PAGE*/


/*FOOTER CSS*/
.footer-bg{
  background-color: #313C87;
}

.p-pad-1{
  font-family:'Montserrat', sans-serif;
  padding-left:25%;
}

@media (max-width: 576px) { /* Extra small devices (phones) */
  .p-pad-1{
    padding-top:25px;
    padding-left:0%;
    text-align: center;
  }
}

@media ( min-width : 576px ) and (max-width : 1779px ){ /* Small devices (tablets) */
  .p-pad-1{
    padding-top:25px;
    padding-left:0%;
    text-align: center;
  }
}

@media (max-width : 1755px ){
  .p-pad-1{
    padding-left: 0%;
  }
}
.footer-container-border{
    border-left-style: solid;
    border-width: 1px;
    border-color: #ffffff;
 }

 @media (max-width:767px){
  .footer-container-border{
    
    border-width: 0px;
    
 }
 }
.p-pad-2{
  padding-left:5%;
} 

@media screen and (max-width:767px){
  .p-pad-2{
    padding-left:0%;
  } 
}

p > a {
  color:white;
}
/*FOOTER END*/

/*recaptcha*/

