.product-tab{
  background-color: #F5F5F5 !important;
  color: #000000 !important;
}
.nav-pills .nav-link{
  width: 315px;
}

@media screen and (max-width:300px){
  .nav-pills .nav-link{
    width:auto;
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #313C87 !important;
  color: #ffffff !important;
  
}

.products-width{
    padding: 1em;
    width:100%;
    max-width:500px;
    min-width:300px;
    background-color: white;
    transition: all 0.5s ease;
    border: #E3E3E3 solid 1px;
  }

.cut-to-size-width{
    padding: 1em;
    width:50%;
    max-width:none;
    min-width:300px;
    background-color: white;
    transition: all 0.5s ease;
    border: #E3E3E3 solid 1px;
}  
.products-width:hover, .cut-to-size-width:hover{
    max-width:none;
    z-index:9;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}   
.products-width>#product-options, .cut-to-size-width>#product-options{
    display:none;
}  

.products-width:hover>#product-options, .cut-to-size-width:hover>#product-options{
    display:flex;
    justify-content: end;
    align-items: center;
}  
 

.options-btn{
  border:none;
  background-color: #f1f1f1;
  color:#000000;
}

.options-btn:hover{
  background-color: #313C87;
  color: #ffffff;
}

/*CONTEMPORARY*/
.contemporary-1{
  position:relative;
  background-image: url('products-img/contemporary/700 Series Wide Framed Wood Mirror _ Black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  
}

.contemporary-2{
  position:relative;
  background-image: url('products-img/contemporary/700 Series Wide Framed Wood Mirror _ White2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  
}

.contemporary-3{
  position:relative;
  background-image: url('products-img/contemporary/CHARIO\ GRIGIO\ 700\ Series\ Opaque\ White\ Laminate\ 2\ Panel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-4{
  position:relative;
  background-image: url('products-img/contemporary/CHARIO GRIGIO_MIRROR_2 PANEL_3 LITE_INUSE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-5{
  position:relative;
  background-image: url('products-img/contemporary/CHARIO\ GRIGIO_MIRROR_2\ PANEL_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-6{
  position:relative;
  background-image: url('products-img/contemporary/CHARIO\ GRIGIO_POLAR\ WHITE_2\ PANEL_3\ LITE_INUSE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-7{
  position:relative;
  background-image: url('products-img/contemporary/CHARIO\ GRIGIO_WHITE\ LAMI_2\ PANEL_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-8{
  position:relative;
  background-image: url('products-img/contemporary/GARDEN\ TEAK_2\ PANEL_MIRROR_\ IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-9{
  position:relative;
  background-image: url('products-img/contemporary/GARDEN\ TEAK_2\ PANEL_POLAR\ WHITE_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-10{
  position:relative;
  background-image: url('products-img/contemporary/GARDEN\ TEAK_2\ PANEL_POLAR\ WHITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-11{
  position:relative;
  background-image: url('products-img/contemporary/GARDEN\ TEAK_2\ PANEL_WHITE\ LAMI_3\ LITE_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.contemporary-12{
  position:relative;
  background-image: url('products-img/contemporary/GARDEN\ TEAK_2\ PANEL_WHITE\ LAMI_IN\ USE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}
/*TRADITIONAL*/
.trad-100{
  position:relative;
  background-image: url('products-img/traditional/100 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-150{
  position:relative;
  background-image: url('products-img/traditional/150 SERIES.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-250{
  position:relative;
  background-image: url('products-img/traditional/250 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-250C{
  position:relative;
  background-image: url('products-img/traditional/250C SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-500{
  position:relative;
  background-image: url('products-img/traditional/500 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-505{
  position:relative;
  background-image: url('products-img/traditional/505 SERIES.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-550{
  position:relative;
  background-image: url('products-img/traditional/550 SERIES.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-555{
  position:relative;
  background-image: url('products-img/traditional/555 series.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.trad-650{
  position:relative;
  background-image: url('products-img/traditional/650 Series.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

/*FRAMED WALLS*/
.arqadia-bright-silver{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA BRIGHT SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
    
  }
  
.academie-silver{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ACADEMIE\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
  
.ferrosa-pewter-2{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/FERROSA\ PEWTER\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
  
.arqadia-bright-silver-1{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
  
  .arqadia-bright-silver-2{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
  
  .framerica-stainless-flat{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/FRAMERICA\ STAINLESS\ WHITE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
  
  .gramercy-silver{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/GRAMERCY\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }

  .arqadia-bright-silver-2-3{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA\ BRIGHT\ SILVER\ 2-3_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }

  .arqadia-warm-silver{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA\ WARM\ SILVER.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }

  .arqadia-black-2{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/ARQADIA\ BLACK\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }

  .white-white{
    position:relative;
    background-image: url('products-img/framed-wall-mirrors/WHITE\ WHITE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 400px;
  }
/*CUT-TO-SIZE*/
.cut-to-size{
  position:relative;
  background-image: url('products-img/cut-to-size/cut-to-size.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}  
